In [1]:
#Write a Pandas program to filter all columns where all entries present,check which rows and columns has a NaN and finally drop rows with anyNaNs from the given dataset.
#Krishaa joshi
#216270307047
import pandas as pd

data=pd.read_csv('/kaggle/input/test-file/tested.csv')
df = pd.DataFrame(data)


df_filtered = df.dropna(axis=1, how='any')

print("\nColumns with all entries present (no NaN):")
print(df_filtered)

rows_with_nan = df[df.isna().any(axis=1)]
columns_with_nan = df.columns[df.isna().any()]

#print("\nRows with NaN values:")
#print(rows_with_nan)

#print("\nColumns with NaN values:")
#print(columns_with_nan)

df_no_na_rows = df.dropna(axis=0, how='any')

print(f"Total rows after dropping NaN: {len(df_no_na_rows)}")

Columns with all entries present (no NaN):
     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex  SibSp  Parch  \
0                                Kelly, Mr. James    male      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female      1      0
2                       Myles, Mr. Thomas Francis    male      0      0
3                                Wirz, Mr. Albert    male      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female      1      1
..                                            ...     ...    ...    ...
413                            Spector, Mr. Woolf    male      0      0
414                  Oliva y Ocana, Dona. Fermina  female      0      0
415                  Saether, Mr. Simon Sivertsen    male      0      0
416                           Ware, Mr. Frederick    male      0      0
417                      Peter, Master. Michael J    male      1      1

                 Ticket Embarked
0                330911        Q
1                363272        S
2                240276        Q
3                315154        S
4               3101298        S
..                  ...      ...
413           A.5. 3236        S
414            PC 17758        C
415  SOTON/O.Q. 3101262        S
416              359309        S
417                2668        C

[418 rows x 9 columns]
Total rows after dropping NaN: 87